@import "@fortawesome/fontawesome-free/css/all.css";
@import 'swiper/css/bundle';
@import "./blocks/index.css";
@import "./parts/index.css";
@import "./common/index.css";
@import "./components/index.css";
@import "./theme.css";
@source "../node_modules/flowbite";
@source "../views/";
@source "../../app/";
