.nav-primary {
    /*@apply h-full items-center z-50;*/

    .menu-main-menu-container {
        @apply w-full h-full px-3;

        #menu-main-menu {
            @apply flex flex-col h-full text-lg font-bold ml-0;
            @variant md {
                @apply flex-row justify-around items-center;
            }
            @variant lg {
                @apply text-sm font-bold tracking-wide;
            }

            li {
                @apply font-bold hover:text-primary active:text-primary focus:outline-none focus:ring focus:ring-primary space-x-8 list-none;
                @variant md {
                    @apply px-2 text-xs;
                }

                .sub-menu {
                    @apply flex flex-col text-primary text-base font-normal py-1 px-0;
                    @variant md {
                        @apply hidden absolute flex-col bg-white text-xs p-2 border-t-2 border-primary;

                        margin-left: 0 !important;
                    }
                }
            }

            li:hover {
                .sub-menu {
                    @apply flex z-20 transition-all duration-700 ease-in-out;
                }
            }
        }
    }
}
