@layer components {
    .slide-in {
        @apply fixed top-36 left-0 h-full w-3/4 bg-white transform -translate-x-full transition-transform duration-300 ease-in-out z-40;
    }

    .slide-in.show {
        @apply translate-x-0;
    }

    .hidden {
        display: none;
    }

    .fixed {
        position: fixed;
    }

    .inset-0 {
        inset: 0;
    }

    .bg-black {
        background-color: black;
    }

    .opacity-50 {
        opacity: 0.5;
    }

    .accordion .fa-chevron-right {
        transition: transform 0.3s ease;
    }

    .accordion.active .fa-chevron-right {
        transform: rotate(90deg);
    }

    .panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.8s ease-out;
    }

    .panel.open {
        max-height: 1000px !important;
        transition: max-height 0.8s ease-in;
    }

    .tag {
        display: inline-flex;
        align-items: center;
        background-color: #e5e7eb;
        padding: 0.5rem;
        border-radius: 9999px;
        font-size: 0.875rem;
        font-weight: 500;
    }

    .tag .remove-tag {
        margin-left: 0.5rem;
        cursor: pointer;
    }
}

#filters-menu {
    padding: 1rem;
    overflow: auto;
    height: 80vh;

    @variant md {
        height: auto;
        overflow: unset;
        display: block;
    }
}

body:has(#filters-menu.show) {
    overflow: hidden;
}
