.archives-hero{
    @apply pt-16;
    figure{
        img{
        @apply -translate-x-28 translate-y-16;
    }
    }
}
.home-hero{
    @apply px-0;
    h1{
        @apply flow-root relative -top-16 left-20 text-3xl;

        width: 70vw;
        span{
            @apply font-light text-2xl;
        }
        @screen md{
            @apply w-max top-16 -left-16;
        }
        @screen lg{

            @apply flex flex-col -top-16 left-24;

            width: 30vw;
        }
        @screen xl{
            
            @apply -top-16 left-20;

            width: 20vw;
        }
    }
    p{
        @apply py-0;

        @screen lg{
            width: 50vw;
        }
        @screen xl{
            width: 40vw;
        }
        @screen 2xl{
            width : 25vw;
        }
    }
    .wp-block-column:nth-child(2){
        @apply hidden;
        @screen lg{
            @apply flex;
        }
    }

    .is-layout-flow > .alignleft{
            @apply me-2;
    }
}

.icon-hero{
    @apply w-32;
    @screen md{
        @apply w-36 h-auto;

    }
}

.actualite-hero{
    @apply p-0;
    .block-heading-text {
        @apply relative inset-24 -top-16;
        h1{
            @apply mb-0 text-2xl;
            @screen md{
                @apply mb-4 text-3xl;
            }
        }
        p{
            @apply w-80;
            @screen md{
                @apply w-auto;
            }
        }
    }
}
