.about-hero{
    @apply px-0 text-balance;
    figure{
        img{
            @apply min-w-0 lg:w-60 lg:mx-0;
        }
    }
    .about-hero-text{
        @apply mt-0 py-0 translate-x-20 -translate-y-8;
    }
    h1{
        @apply md:pt-0 md:pl-4 mb-0;
    }
}

.home-hero{
    @apply px-0;
    .wp-block-columns{
        .wp-block-column{
            figure{
                @apply w-32;
            }
        }
    }
    h1{
        @apply flow-root relative -top-10 left-16 text-3xl md:mt-0;

        width: 75vw;

        span{
            @apply font-light text-2xl;
        }
        @screen md{
            @apply w-max top-16 -left-16;
        }
        @screen lg{

            @apply flex flex-col -top-16 left-24;

            width: 30vw;
        }
        @screen xl{
            
            @apply -top-16 left-20;

            width: 20vw;
        }
    }
    p{
        @apply py-0;

        @screen md{
            width: 70vw;
        }

        @screen lg{
            width: 50vw;
        }
        @screen xl{
            width: 40vw;
        }
        @screen 2xl{
            width : 30vw;
        }
    }
    .wp-block-column:nth-child(2){
        @apply hidden;
        @screen lg{
            @apply flex;
        }
        figure{
            @apply w-full;
        }
    }
    .is-layout-flow > .alignleft{
            @apply me-2;
    }
    .wp-block-buttons {
        @apply md:mt-20 lg:mt-0;
    }
}

.actualite-hero{
    @apply p-0;
    .wp-block-columns{
        @screen md{
            @apply  mb-0;
        }
        .wp-block-column{
            .wp-block-image{
                @apply w-6/12 md:w-2/5 lg:w-3/4;
            }
        }
    }
    .block-heading-text {
        @apply relative left-1/4 -top-16 md:left-28;

        h1{
            @apply mb-0 text-2xl;
            @screen md{
                @apply mb-4 text-3xl;
            }
        }
        p{
            @apply w-56;
            @screen md{
                @apply w-96;
            }
            @screen lg{
                @apply w-auto;
            }
        }
    }
}

.hero-single {
    div{
        figure::after{
            content:" ";
            position: absolute;
            background-color: white;
            width: 45vw;
            height: 220px;
            top: 110px;

            @screen md{
                width: 35vw;
                height: 260px;
                top: 190px;
            }
            @screen lg{
                width: 31vw;
                top: 170px;
            }
            @screen xl{
                width: 28vw;
            }
        }
            img{
                @apply w-screen;
            }
    }
}