.home-hero{
    @apply px-0;
    .wp-block-columns{
        .wp-block-column{
            figure{
                @apply w-32;
            }
        }
    }
    h1{
        @apply flow-root relative -top-10 left-16 text-3xl md:mt-0;

        width: 75vw;

        span{
            @apply font-light text-2xl;
        }
        @screen md{
            @apply w-max top-16 -left-16;
        }
        @screen lg{

            @apply flex flex-col -top-16 left-24;

            width: 30vw;
        }
        @screen xl{
            
            @apply -top-16 left-20;

            width: 20vw;
        }
    }
    p{
        @apply py-0;

        @screen md{
            width: 70vw;
        }

        @screen lg{
            width: 50vw;
        }
        @screen xl{
            width: 40vw;
        }
        @screen 2xl{
            width : 30vw;
        }
    }
    .wp-block-column:nth-child(2){
        @apply hidden;
        @screen lg{
            @apply flex;
        }
        figure{
            @apply w-full;
        }
    }
    .is-layout-flow > .alignleft{
            @apply me-2;
    }
    .wp-block-buttons {
        @apply md:mt-20 lg:mt-0;
    }
}

// .actualite-hero{
//     .wp-block-image{
//         img{
//             min-width: none;
//             min-height: auto;
//         }
//     }
//     .block-heading-text {
//         @apply pl-2;
//         h1{
//             @apply mb-0 text-2xl font-bold text-wrap;
//             @screen md{
//                 @apply text-3xl leading-[4rem] w-full;
//             }
//         }
//         p{
//             @apply w-96 py-0 box-content;

//         }
//     }
// }

.hero-single{
    figure::after{
        content: "";
        position: absolute;
        background-color: white;
        left: 0;
        top: 605px;
        width: 6rem;
        height: 6rem;
        @screen md{
            top: 374px;
            width: 11rem;
            height: 9rem;
        }
        @screen lg{
            top: 350px;
            width: 14rem;
            height: 10rem;
        }
        @screen xl{
            width: 20rem;
        }
        @screen 2xl{
            top: 300px;
            width: 49rem;
            height: 200px;
        }
    }




}



