.block-title-defi{
    @apply pt-0 z-10 -translate-y-24 p-0;
    @variant md{
        @apply -translate-y-44;
    }
    h1{
        @apply relative -top-36 left-6 w-2/3;
        @variant md{
            @apply -top-52 left-0;
        }
        @variant xl{
            @apply -top-52 left-10;
        }
    }
    figure::after{
        content:" ";
        position: absolute;
        background-color: white;
        width: 45vw;
        height: 45vh;
        top: -5px;
        left:0;
        z-index: -1;

        @variant md{
            width: 30vw;
            height: 30vh;
            top: -5px;
        }
        @variant lg{
            width: 22vw;
        }
    }
}
