html {
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

body {
    margin: 0 !important;
}

#app {
    @apply min-h-screen    flex flex-col;
    main {
        @apply flex-1;

    }
}

.loupe {
    @apply text-lg text-white rotate-45;
}

mark {
    @apply p-1;
}

img {
    @apply min-h-full min-w-full object-cover;
}

.img-rounded {
    @apply rounded-md;
}

.current-menu-item > a {
    color: #f00;
}

a {
    text-decoration: none;
}
