p {
    @apply text-pretty;

    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-wrap;
}

h1, h2 {
    color:var(--wp--preset--color--primary);
}

h1{
    font-size: var(--text-3xl);    
    line-height: var(--text-3xl--line-height);
    font-weight: var(--font-weight-bold);

}

h2
{
    font-size:var(--wp--preset--font-size--2-xl);
}


.green,
.number-title{
    color:var(--wp--preset--color--secondary);
}

a {
    cursor: pointer;
}

.intro{
    font-family:var(--font-sans);
    color:var(--wp--preset--color--secondary);
    font-size: var(--wp--preset--font-size--lg);
    font-weight: var(--font-weight-bold);
 }

.intro--red {
    color: var(--wp--preset--color--primary);
}


.number-title{
    font-family :var(--font-sans);
    font-weight: var(--font-weight-bold);
    font-size: var(--wp--preset--font-size--3-xl);
}
