/* Roboto Regular */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

/* Roboto Bold */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../../../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

/* Roboto Medium */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../../../fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

/* Inter Variable Font - supporte tous les poids */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    src: url('../../../fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}
