p {
    @apply break-words;
}

img{
    @apply max-h-full max-w-full object-cover;
}

ol{
    list-style-type: decimal;
    margin-left: 30px;
}

ul{
    list-style-type: disc;
    margin-left: 30px;
}

.loupe{
    @apply text-lg text-white rotate-45;
}

mark{
    @apply p-1;
}

h1,h2,h3,h4,h5,h6 {
    @apply text-balance break-words;
}

.number-title{
    @apply text-[90px] font-extrabold;
}
