.archives-hero{
    @apply pt-16;
    figure{
        img{
        @apply -translate-x-28 translate-y-16;
    }
    }
}
.home-hero{
    h1{
        @apply flow-root translate-x-20 -translate-y-10;

        width: 60vw;
        span{
            @apply font-light text-2xl;
        }
        @screen md{
            @apply w-max translate-y-10 -translate-x-20;
        }
        @screen lg{

            @apply flex flex-col translate-x-24 -translate-y-16;

            width: 30vw;
        }
        @screen xl{
            width: 25vw;
        }
        @screen 2xl{
            width : 10vw;
        }
    }
    p{
        @screen lg{
            width: 60vw;
        }
        @screen xl{
            width: 40vw;
        }
        @screen 2xl{
            width : 25vw;
        }
    }
    figure{
        @apply hidden;
        @screen lg{
            @apply flex;
        }
    }
}

.icon-hero{
    @apply w-36 h-auto;
}

.actualite-hero{
    @apply p-0;
    .block-heading-text {
        @apply relative inset-24 -top-16;
        h1{
            @apply mb-0;
            @screen md{
                @apply mb-4;
            }
        }
        p{
            @apply w-80;
            @screen md{
                @apply w-auto;
            }
        }
    }
}
