#pagination-container {
    nav {
        ul, .nav-links {
            @apply flex justify-end space-x-4 text-primary font-bold text-base py-6;

            a {
                @apply space-x-4;
            }

            * {
                font-weight: normal;
                &:hover {
                    font-weight: bold;
                }
            }

            .current {
                font-weight: bold;
            }
        }
    }
}
