.search-form {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.search-form input {
    border: none;
    font-weight: normal;
    color: black;
    border-radius: 8px 0 0 8px;
    flex-grow: 1;
}

.search-form button {
    padding: 5px 10px;
}
