{
    "bracketSpacing": false,
    "jsxBracketSameLine": true,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "useTabs": false,
    "overrides": [
        {
            "files": ["*.blade.php", "resources/views/**/*.php"],
            "options": { "tabWidth": 4 }
        },
        {
            "files": ["*.php"],
            "options": { "tabWidth": 4 }
        }
    ]
  }
