.wp-block-group {
  @apply my-10;
    &.container {
      max-width: 1200px;
      margin: 0 auto;
      padding-left: 0;
    }

    .block-hero{
      @apply flex items-start;

      .wp-block-image {
        @apply hidden lg:flex mr-4;

        img{
        @apply object-contain;
        }
      
      }
      .block-heading-text{
        @apply flex-col;
  
        h2{
          @apply text-2xl md:text-3xl font-bold;
  
        }
  
        p{
          @apply text-sm md:text-base pt-4;
  
        }
      }
  
      .tags {  
        @apply mt-0;
  
        .tag {
          @apply mr-2  bg-primary text-white;
  
        }
      }
    }


  }