.wp-block-group {
    &.container {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    .actualite-hero {
      display: flex;
      align-items: center;
  
      .wp-block-image img {
        max-width: 100px;
        margin-right: 20px;
      }
  
      .block-heading-text {
        h1 {
          font-size: 2rem;
        }
  
        p {
          font-size: 1.25rem;
          margin-top: 0.5rem;
        }
      }
    }
  
    .tags {
      margin-top: 1rem;
  
      .tag {
        background-color: #f1f1f1;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        margin-right: 0.5rem;
      }
    }
  }