.image-preview-wrapper {
  @apply grid grid-cols-2 gap-4;

  .image-preview-item {
    @apply relative bg-gray-200 p-2;

    .image-preview {
      @apply w-full h-auto object-cover;
    }

    button {
      @apply absolute top-2 right-2 text-white bg-red-600 rounded-full p-1 hover:bg-red-700;
    }
  }
}

.block-editor-block-list__block {
  @apply my-4;
}

.post-thumbnail-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.post-thumbnail-item {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 4px;
  background-color: #f9f9f9;
  overflow: hidden;
}

.post-thumbnail-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.post-thumbnail-title {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
}