.carousel-container {
  @apply relative flex justify-center overflow-visible;
}

.carousel {
  @apply relative overflow-visible w-10/12;

  img {
    @apply w-full h-auto;
  }

  .slick-prev,
  .slick-next {
    @apply absolute top-1/2 transform -translate-y-1/2 ;
    
    &::before{
      color: #158579;
      font-size: 50px;
    }
  }

  .slick-prev {
    left: -55px;
  }
}
